# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

* Create a markdown cell to list data science languages
* Create a markdown cell to list data science libraries
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell introducing arithmetic expression examples
* Create a code cell to multiply and add numbers
* Create a code cell to convert minutes to hours
* Insert a markdown cell to list Objectives

### Some of the popular languages that Data Scientists use are:

1. Python
2. HTML
3. SQL
4. R programing
5. C language

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Matpotlib

| Data Science Tools |
| -------------|
| Jupyter Notebook | 
| R Studio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author- Sahil Anand